header {
  align-items: center;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;

  .page-title {
    align-items: center;
    display: flex;
    gap: 1rem;
  }

  nav {
    font-size: 1.2rem;

    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0 1rem;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
