.result-list {
  .item {
    border-bottom: 1px solid #999;
    padding: 1rem 0;

    .header {
      align-items: center;
      cursor: pointer;
      display: flex;
      font-size: 1.1rem;
      gap: 0.5rem;

      .toggler {
        color: blue;
        display: block;
        font-size: 0.8rem;
        text-align: center;
        width: 0.8rem;
      }

      .domain {
        border-bottom: 1px solid transparent;
        color: blue;
        font-weight: bold;
      }

      &:hover .domain {
        border-color: blue;
      }
    }
  }

  .report-container {
    margin-left: 1rem;
  }

  .report-list {
    border-collapse: collapse;
    margin: 1rem;
    word-break: break-word;

    table,
    td,
    tr {
      padding: 0;
      margin: 0;
    }

    td {
      vertical-align: top;
    }

    td.index {
      padding-right: 1rem;
      min-width: 30px;
    }

    tr.report > td {
      padding-top: 1rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #999;
    }

    tr.report.invalid {
      opacity: 0.5;
    }

    .contents {
      td {
        padding-bottom: 0.5rem;

        &:first-child {
          min-width: 120px;
        }
      }

      pre {
        overflow: scroll;
      }

      ul {
        margin: 0;
        padding: 0 0 0 14px;
      }
    }

    .actions {
      button {
        margin-right: 0.5rem;
      }
    }
  }

  .classified-report-list {
    border-collapse: collapse;
    margin: 1rem;

    th {
      padding: 0.6rem;
    }

    table,
    td {
      margin: 0;
      padding: 0;
    }

    tr {
      border-bottom: 1px solid #999;
    }

    tr.report {
      &:hover {
        background-color: #f2f2f2;
      }
    }

    td {
      padding: 0.3rem 0;
      vertical-align: top;
    }

    .toggle {
      padding: 0.3rem 1rem;
    }

    .toggle-area {
      cursor: pointer;
    }

    .index {
      min-width: 30px;
      padding-right: 1rem;
    }

    .domain {
      font-weight: bold;
      max-width: 250px;
      overflow: hidden;
      padding-right: 1rem;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .comments {
      padding-right: 1rem;
      word-break: break-word;
    }

    .classified-details {
      td {
        min-width: 130px;
      }
    }

    .actions {
      button {
        margin-right: 0.5rem;
      }
    }

    .prediction,
    .probability,
    .action-buttons {
      text-align: center;
      padding: 0.3rem;
    }

    .prediction {
      &.valid {
        background: #8fbc8b;
      }

      &.inconclusive {
        background: #ffe4c4;
      }

      &.invalid {
        background: #df686a;
      }
    }

    .action-buttons {
      min-width: 60px;

      button {
        margin-right: 0.3rem;
        padding: 0.2rem 0.4rem;
        cursor: pointer;
        background: #fff;
        border-radius: 3px;

        &.action-valid {
          color: #6d9d68;
          border: 1px solid #6d9d68;

          &:hover {
            background-color: #6d9d68;
            color: #ffffff;
          }
        }

        &.action-invalid {
          color: #df686a;
          border: 1px solid #df686a;

          &:hover {
            background-color: #df686a;
            color: #ffffff;
          }
        }
      }

      .loading-spinner {
        margin: 0;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
